h1 {
    text-align:center;
    background-color: rgb(44, 170, 170);
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: rgb(253, 189, 255);
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: rgb(208, 157, 255);
}
.imagem1 {
    width: 700px;
}
.imagemcentralizada {
 text-align: center;
}

.unicornio {
    background-color: rgb(255, 212, 253)

}
.brilho {
   color: #274444;
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
        text-align: left;
    }
