h1 {
    text-align:center;
    background-color: rgb(255, 113, 151);
}
h2{
    text-align: center;
}
h3{
    font-style: oblique;
    background-color: rgb(233, 144, 236);
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: rgb(219, 181, 255);
}
.imagem1 {
    width: 700px;
}
.imagemcentralizada {
 text-align: center;
}

.unicornio {
    background-color: rgb(215, 113, 210)

}
.brilho {
   color: #2a22cb;
    font-style: italic
}
.lista {
        display: inline-block;
        padding: 5%;
        margin-right: 10%;
        text-align: left;
        border-color: rgb(255, 126, 147);
        border-width: 20px;
        border-style: solid;
        border-radius: 12px 50px 2px 120px;
    }
